@media screen and (max-width: 576px) {
  .nav-menu li{
    display: none;
  }
  .nav-menu{
    border: none;
  }
   .nav-menu #ham-barger{
    display: block;
  }
  .banner-content h3{
   font-weight: 700;
   font-size: 4rem;
   line-height: 1em;
  }

  .banner-container{
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .btn-1{
    margin-left: 30px;
  }
  .habit-container{
    grid-template-columns: 1fr;
    gap: 1rem;

  }
  .run-extra-mile-container{
    flex-direction: column;
  
  }
  .run-content,.run-img{
    width: 100%;
  }


}