@media screen and (max-width: 576px) {
  .nav-menu li{
    display: none;
  }
  .nav-menu{
    border: none;
  }
   .nav-menu #ham-barger{
    display: block;
  }
  .banner-content h3{
   font-weight: 700;
   font-size: 4rem;
   line-height: 1em;
  }
  .banner-content h3 span{
      font-family: "miama";
      font-weight: normal;
      font-size: 7rem;
    
    }

  .banner-container{
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .banner-content .btn-primary,.btn-secoendary{
     padding: 1rem 1.3rem; 
   margin-left: 8px;
   
  }
  .btn-1{
    margin-left: 30px;
  }
  .habit-container{
    grid-template-columns: 1fr;
    gap: 1rem;

  }
  .run-extra-mile-container{
    flex-direction: column;
  
  }
  .run-content,.run-img{
    width: 100%;
  }
  /* .run-img img{
    width: 100%;
    border-radius: 20px;

    object-fit: none;
    object-position: 64% 28%;

   } */
 .join-btn{
   width: 100%;
 }
    /* available section  */
    .instrument{
      width: 100%;
      margin: 0 auto;
    }
    .row{
      grid-template-columns: 1fr;
    /* margin-bottom: 100px; */
    }

    .blok img{
     height: auto;
    }
   
    /* available section ends */
  .row-1 {
    grid-template-columns: 1fr;
  }
  
 .bmi-content{
  /* flex-direction: column; */
  grid-template-columns: 1fr;
 gap: 20px;

}
.bmi-chart select,input{
  width: 100%;
 
}
.bmi-table{
  width: 100%;
 padding-left: 60px;
 
}
.img-row-1{
  grid-template-columns: 1fr;
}
.footer-content{
  flex-direction: column;
  gap: 30px;
}
.get-ready-img h3{
  text-align: center;
 
}


 }

 

